<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Gold Smith Process</title>

</head>
<body>
<!-- partial:index.partial.html -->
<div id="bg"></div>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-field">
    <input type="user" placeholder="Username"  formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required" class="required-alert">required</div>
  </div>
  </div>

  <div class="form-field">
    <input type="password" placeholder="Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required" class="required-alert">required</div>
<!--      <div *ngIf="f.password.errors.minlength" class="required-alert">Password must be at least 6 characters</div>-->
  </div>
    <div *ngIf="errorMessage" class="required-alert">{{errorMessage}}</div>
  </div>

  <div class="form-field">
    <button class="btn" type="submit">Log in</button>
  </div>
</form>
<!-- partial -->

</body>
</html>
